.roster-table {
    border-collapse: collapse;
    width: 50%;
    opacity: 0.9;
    background-color: antiquewhite;
  }

  .bold{
    font-weight: 700;
  }

  .proj{
    font-weight: 300;
  }
  
  .roster-table-row{
    flex: block;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .roster-table td{
    border: 3px solid black;
    padding: 8px;
  }
  .roster-table th{
    border: 3px solid black;
    padding: 8px;
  }

  .positive{
      background-color: palegreen;
  }

  .negative{
      background-color: lightpink;
  }

  .highlight{
      background-color: lightblue;
  }

  .lowlight{
      background-color: lightcoral;
  }