.roster-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .roster-table td{
    border: 3px solid black;
    padding: 8px;
  }
  .roster-table th{
    border: 3px solid black;
    padding: 8px;
  }

  .positive{
      background-color: palegreen;
  }

  .negative{
      background-color: lightpink;
  }

  .highlight{
      background-color: lightblue;
  }

  .lowlight{
      background-color: lightcoral;
  }