.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.matchupsTable {
  border-collapse: collapse;
  width: 100%;
}

.matchupsTable #week{
  font-weight: 800;
}

.matchupsTable td{
  border: 2px solid black;
  padding: 8px;
}
.matchupsTable th{
  border: 3px solid black;
  padding: 8px;
}

.matchupsTable tr{
  background-color: #7C987B;
}

.matchupsTable tr:nth-child(10n-4){
  background-color: #E4A596;
}
.matchupsTable tr:nth-child(10n-3){
  background-color: #E4A596;
}
.matchupsTable tr:nth-child(10n-2){
  background-color: #E4A596;
}
.matchupsTable tr:nth-child(10n-1){
  background-color: #E4A596;
}
.matchupsTable tr:nth-child(10n){
  background-color: #E4A596;
}


.matchupsTable .winner {
  font-weight: 700;
}

.matchupsTable tr:hover {background-color: #9B5F50;}

.matchupsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #C28374;
  color: white;
}

.standingsTable {
  border-collapse: collapse;
  width: 100%;
}

.standingsTable td{
  border: 2px solid green;
  padding: 8px;
}
.standingsTable th{
  border: 3px solid black;
  padding: 8px;
}

/* .standingsTable tr:nth-child(5n){border-bottom: 3px solid black;} */

.standingsTable .winner {
  font-weight: 700;
}

.standingsTable tr:hover {background-color: #ddd;}

.standingsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: green;
  color: white;
}