.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.matchupsTable {
  border-collapse: collapse;
  width: 100%;
  opacity: 0.9;
  background-color: antiquewhite;
}

.matchupsTable #week{
  font-weight: 800;
}

.matchupsTable td{
  border: 2px solid black;
  padding: 8px;
}
.matchupsTable th{
  border: 3px solid black;
  padding: 8px;
}

.matchupsTable tr{
  background-color: #7C987B;
}

.matchupsTable tr:nth-child(10n-4){
  background-color: #E4A596;
}
.matchupsTable tr:nth-child(10n-3){
  background-color: #E4A596;
}
.matchupsTable tr:nth-child(10n-2){
  background-color: #E4A596;
}
.matchupsTable tr:nth-child(10n-1){
  background-color: #E4A596;
}
.matchupsTable tr:nth-child(10n){
  background-color: #E4A596;
}


.matchupsTable .winner {
  font-weight: 700;
}

.matchupsTable tr:hover {background-color: #9B5F50;}

.matchupsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #C28374;
  color: white;
}

.standings-table {
  border-collapse: collapse;
  width: 100%;
  opacity: 0.9;
  background-color: antiquewhite;
}

.standings-table td{
  border: 3px solid black;
  padding: 8px;
}
.standings-table th{
  border: 3px solid black;
  padding: 8px;
}

/* .standings-table tr:nth-child(5n){border-bottom: 3px solid black;} */

.standings-table .winner {
  font-weight: 700;
}
.standings-table-logo{
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.standings-table .name-and-logo{
  display: flex;
  align-items: center;
  /* margin: 6px 0px; */
}

.standings-table tr:hover {background-color: #ddd;}

.standings-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: green;
  color: white;
}

.team-card-flex{
  flex-direction: column;
  max-width: 70%;
  max-height: 70%;
  margin: auto;
}

.team-card{
  width: 90%;
  border: 4px black;
  margin: auto;
  opacity: 0.9;
  background-color: antiquewhite;
}

.team-card-container{
  width: 90%;
  align-self: center;
}

.team-card-header{
  display: flex;
  align-items: center;
  align-content: flex-end;
}

.team-card-img{
  vertical-align: middle;
  width: 125px;
  height: 125px;
  border-radius: 50%;
}



.team-table {
  border-collapse: collapse;
  width: 100%;
}

.team-table #week{
  font-weight: 800;
}

.team-table td{
  border: 2px solid black;
  padding: 8px;
}
.team-table th{
  border: 3px solid black;
  padding: 8px;
}